body {
    background-color: #d4eece;
}

section {
    margin-left: 20%;
    margin-right: 27%;
    margin-top: 5%;
    padding: 60px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 25px 50px #888888;
}


.firstMenu {
    margin-top: 10px;
    margin-bottom: 2px;
    font-size: 20px;
    color: black !important;
    border: none;



}

.firstMenu button {
    margin: 3px;
    border: none;
    font-size: 22px;
    color: #111;
    background-color: #fff;
    margin-bottom: 2px;
}


select{
    padding: 6px;
    border-radius: 3px;
}

.secondMenu button {
    margin-bottom: 4px;
}

button:hover {
    background-color: #c0d3bd !important;
}

/* * * * * * * * *  textarea  * * * * * * * * * * */
textarea {
    padding: 1%;
    border-color: black;
    height: 400px !important;
    width: 100%;
    text-align: left;
    font-size: 18px;
}

/* * * * * * * * * * Dropdown Button * * * * * * * */
.dropbtn {
    color: black;
    background-color: #fff;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}